.mainheader {
    display: flex;
    background-color: #08192d;
    border-radius: 0;
}

.left-nav {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 14px;
    padding: 23px;
}
.left-nav a:hover{
    color: #e00922;
}
.left-nav a:link{
    text-decoration: none;
}
.left-nav a:active{
    color: white;
}
.sub-menu{
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style-type: none;
    position: absolute;
}
.dropdown:hover .sub-menu{
    display: block;
}
.left-nav > sub-menu :hover{
    display: block;
}
.sub-menu a:link{
    text-decoration: none;
}
.sub-menua a:hover{
    color: #e00922;
}
.logo {
    font-size: 2rem;
    color: white;
    margin: 14px;
    padding: 23px;
    margin-top: 22px;
}


.logo a:link {
    text-decoration: none;
}

.logo span {
    color: #e00922;
}

.navbar {
    display: flex;
    flex: 6;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.2rem;
    color: white;
}

.right-nav {
    display: flex;
    flex: 1;
    margin: 14px;
    padding: 23px;
}
.right-nav a:hover {
    color: #e00922;
}

.right-nav a:link {
    text-decoration: none;
}

.help {
    flex: 1;
}

.help ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
}

.reg {
    flex: 1;
}

.reg ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
}

/*.menu {
    display: block;
    background-color: #4c4c4c;
    padding: 5px;
    height: 8vh;
    border-radius: 0;
}
.menu-btn{
    display: flex;
    float: right;
    box-sizing: border-box;
    background: #000;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 4px;
    font-size: 1.5rem;
    cursor: pointer;
}*/