.mainheader {
    display: flex;
    background-color: #08192d;
}

.left-nav {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;
}

.logo span {
    color: #e00922;
}

.navbar {
    display: flex;
    flex: 6;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.2rem;
    color: white;
}

.right-nav {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
}

.help {
    flex: 1;
}

.help ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
}

.reg {
    flex: 1;
}

.reg ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
}

.menu {
    display: block;
    background-color: #4c4c4c;
    padding: 5px;
    box-sizing: border-box;
}