.premiumSection-component{
    display: flex;
    flex-direction: column;
}
.premiumSection{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 30px 20px;
}
.premiumSection-heading{
    font-size: 2rem;
    color: rgb(48, 42, 91);
    flex: 1;
    margin: 20px 30px;
    margin-top: 0;
}
.premiumSection-desc{
    flex: 1;
    font-size: 18px;
    color: rgb(48, 42, 91);
    margin: 20px 30px;
    margin-top: 0;
}
.premiumSection-cards{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
    margin-top:0;
}
.premiumSection-card1-img >img{
    box-sizing: border-box;
    border-radius: 100px;
}
.premiumSection-card2-img>img {
    box-sizing: border-box;
    border-radius: 100px;
}
.premiumSection-card3-img>img {
    box-sizing: border-box;
    border-radius: 100px;
}
.premiumSection-card4-img>img {
    box-sizing: border-box;
    border-radius: 100px;
}
.premiumSection-card1-desc >h4,p{
    font-size:large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premiumSection-card2-desc>h4,p {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premiumSection-card3-desc>h4,p {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premiumSection-card4-desc>h4,p {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}