.slider{
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 5, 56);
}
.left{
    display: flex;
    flex: 1;
    overflow: auto;
    flex-wrap: wrap;
    width: 50%;
}
.left h1{
    font-size: 70px;
    color: white;
}
.left h1 span{
    color: #e00922;
    font-size: 90px;
}
.left p{
    font-size: 22px;
    color: white;
}
.right{
    display: flex;
    flex: 1;
}
.img{
    float: right;
    width: 100vw;
    height: 100vh;

}